@*@using WorldCup.Areas.User.Models;
@model List<Shipment>

@{
    ViewData["Title"] = "All Shipments";
}

<div class="row">

    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all Shipments</h4>
        </p>


        <table class="table">
            <thead>
                <tr>
                  
                    <th>Order ID</th>
                    <th>Costumer Email</th>
                    <th>Order Date</th>
                    <th>Shipment Date</th>
               
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (var shipment in Model)
                {
                    <tr>
                       
                        <td class="align-middle">@shipment.Order.Id</td>
                        <td class="align-middle">@shipment.Order.Email</td>
                        <td class="align-middle">@shipment.Order.CreatedAt.ToString("dd/MM/yyyy")</td>

                        <td class="align-middle">@shipment.ShipmentDate.ToString("dd/MM/yyyy")</td>
                      
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle">@shipment.Order.User.FullName</td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>*@