@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;
@model IEnumerable<Highlights>
@{
	ViewData["Title"] = "Highlights";

	@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
	{
		<div class="text-end ">
			<a asp-controller="Highlights" asp-action="Create" class="btn btn-success">Create</a>
		</div>
	}
}	
<div class="row" style="margin-right:2%; margin-left:2%;margin-top:20px;">
	@foreach (var item in Model)
	{
		<div class="col-md-4 col-xs-6 mb-3" style="margin-bottom:30px;">
			<div class="row g-0">
				@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
				{
					<div class="col-md-12">
						<p class="card-text d-flex justify-content-end">
							<a class="text-dark float-right fs-3 " style="padding:5px;" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square text-primary"></i></a>
							<a class="text-dark float-right fs-3" style="padding:5px;" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash text-danger"></i></a>
						</p>
					</div>
				}
				<div class="col-md-12 mx-auto">
					<a asp-action="Details" asp-route-id="@item.Id">
						<img src="@item.ImgUrl" class="" style=" width: 100%;
						object-fit:contain;" alt="@item.Title">
					</a>
				</div>
				<div class="col-md-12  mb-3">
					<p class="card-text pt-2" style="font-family:Google Sans,arial,sans-serif; font-size:clamp(17px,3vw,20px); display:flex;flex-direction:row;justify-content:space-around;">
						<b>@item.Title</b>
					</p>
					@if(User.IsInRole("Admin")){
						<p class="card-text pt-2 text-center" style="font-family: Google Sans, Arial, sans-serif; font-size: 1.2rem;">
							Checked:<span class="badge badge-primary">@item.Count</span>
						</p>
					}
				</div>
			</div>
		</div>
	}

	
	<div class=" d-flex align-items-center justify-content-center mt-4">
			@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
	new X.PagedList.Mvc.Common.PagedListRenderOptions
	{
	DisplayItemSliceAndTotal = true,
	ContainerDivClasses = new[] { "navigation" },
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
	})
	</div>


</div>
@section Scripts{
		<script>
			// Workaround to fix style of text for showing items .. through ..
			// Problem related to Boostrap 4 according to issue in link below
			// https://github.com/dncuug/X.PagedList/issues/127
			$(document).ready(function () {
				$('ul.pagination > li.disabled > a').addClass('page-link');
			});
		</script>
}