@using WorldCup.Data.Enums;
@model Product


@{
    ViewData["Title"] = "Product Details";
}




<div class="row">


    <div class="col-md-8 offset-2">
        <div class="card mb-12 shadow p-3 mb-5 bg-white rounded">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white" style="background-color:#8A1538;">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImgUrl" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>

                        <p class="card-text"><b>Type: </b>@Model.ProductType</p>
                        <p class="card-text"><b>State: </b>@Model.State</p>
                     

                        

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back
                            </a>
                            <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i> Add to cart (@Model.Price&euro;)
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

