@using WorldCup.Data.ViewModels;
@model ShoppingCartVM

@{
    ViewData["Title"] = "Shopping cart summary";
}


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your shopping cart summary</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Product.Name</td>
                        <td class="align-middle">@item.Product.Price.ToString("f") Euro</td>
                        <td class="align-middle">@((item.Amount * item.Product.Price).ToString("f"))Euro</td>
                        <td class="align-middle d-flex">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
                           asp-route-id="@item.Product.Id" style="font-size: 22px; padding: 10px 15px;">
                                <i class="bi bi-cart-dash"></i>
                            </a>
                            <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.Product.Id" style="font-size: 22px; padding: 10px 15px;">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("f") Euro
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="d-flex text-center">
            <div class="add-more-items-container" style="margin-right: 30px;">
                <a class="btn btn-success" asp-controller="Products" asp-action="Index">
                    Add more items
                </a>
            </div>
            <div class="btn-group">
                <div id="paypal-btn"></div>
               
            </div>
            
        </div>
    </div>
</div>


@section Scripts{

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>


    <script>

        let _total = @Html.Raw(@Model.ShoppingCartTotal);

        paypal.Button.render({
            //Configure environment
            env: 'sandbox',
            client: {
                sandbox: 'AXi8W7nI03NviYsmENVQAQK6cs0UMZa0TqVLENXr1lNyXVw6bHrxYeIyoOvaDuueReBGjd-wRsy2DYi2'
            },

            //Costumize button
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'blue',
                shape: 'pill'
            },
            commit: true,

            //Set up payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [
                        {
                            amount: {
                                total: _total,
                                currency: 'USD'
                            }
                        }
                    ]
                });
            },
            //Execute the payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder","Orders",new { })'
                    window.location.href = url;
                    console.log("success");
                })
            }
        }, '#paypal-btn');
    </script>
}
\