@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;
@model IEnumerable<Author>

@{
    ViewData["Title"] = "Author";
    <div class="text-end ">
        <a asp-controller="Authors" asp-action="Create" class="btn btn-success">Create</a>
    </div>

}
<div>
    <table class="table">
        <thead>
            <tr>
               
                <th>@Html.DisplayNameFor(model=>model.Id)</th>
                <th>@Html.DisplayNameFor(model=>model.Name)</th>
                <th>@Html.DisplayNameFor(model=>model.Surname)</th>
                <th>Changes</th>
            </tr>
        </thead>
        <tbody>
            

                @foreach (var item in Model)
                {
                    <tr>
                    <td style="align-content:center">@item.Id</td>
                    <td style="align-content:center">@item.Name</td>
                    <td style="align-content:center">@item.Surname</td>
                    <td style="align-content:center">
                        <p class="card-text d-flex justify-content-end">
                            <a class="text-dark float-right fs-3 " style="padding-left:5px;" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square text-primary"></i></a>
                            <a class="text-dark float-right fs-3"  asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash text-danger"></i></a>
                        </p>
                    </td>
                </tr>
                }

           
        </tbody>
    </table>
</div>